# Assignment 3

#### 1.Create a variable x with the value 15 . Perform floored division by 4 and print the result. What is the difference between floored division and normal division?

In [2]:
x = 15
print(x/4)

3.75

In [3]:
x = 15
print(x%4)

3

In [4]:
print("normal division return a float value while floored division returns value in int type")

normal division return a float value while floored division returns value in int type

#### 2.Write a program to calculate 8 ** 2 and 16 ** 0.5 . Print both results and describe what each represents.

In [6]:
x = 8 ** 2

y = 16 ** 0.5

print(x)
print(y)

print("8 ** 2 represents 8 squared, which is 64.")
print("16 ** 0.5 represents the square root of 16, which is 4.")

64
4.0
8 ** 2 represents 8 squared, which is 64.
16 ** 0.5 represents the square root of 16, which is 4.

#### 3.Use arithmetic operators to solve the following expression: 20 - 5 * 3 + 8 / 4 . Use parentheses to make sure the addition happens before multiplication. Print the output.

In [7]:
20 - 5 * (3 + 8) / 4

6.25

#### 4.Assign the value 7 to a variable num . Convert it to a float and print the result. What is the difference between 7 and 7.0 ?

In [12]:
num = 7
num_f = 7.0
print(num)
type(num)
print(num_f)
type(num_f)

7
7.0

float

#### 5.Use a com
parison operator to check if 100 is greater than 50 . Print the result and indicate what type of value this is.

In [14]:
a = (100 > 50)
print(a)
type(a)

True

bool

#### 6.Assign True to a variable is_sunny and False to is_weekend . Use logical operators to check if it is sunny and the weekend ( is_sunny and is_weekend ).  Print the result.

In [17]:
is_sunny = True
is_weekend = False
print(is_sunny and is_weekend)

False

#### 7.Create a variable password and set it to "my_password123" . Ask the user to input a password and print True if the input matches the value of password , otherwise print False .

In [25]:
password = "my_password123"
enter_password = input("pswrd")

if password == enter_password:
   print(True)
else:   
   print(False)

pswrd hffd

False

#### 8.Assign the value 50 to a variable marks . Increment the value of marks by 5 using the += operator, then print the new value.

In [26]:
marks = 50
print(marks)
marks += 5
print(marks)

50
55

In [ ]:
# 9.Write a program to check if the value of a = 0 and b = 10 satisfies a or b .
# Print the output and explain why it gives that result.

In [28]:
a = 0
b = 10
print(a or b)

10

In [ ]:
# 10.Use not to negate the value of False and print the result. Explain what the not operator does in Python.

In [31]:
not False

True

In [ ]:
the not operator negates the Bool value. When applied to False, it results in True.